@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.email-input {
  background-color: transparent;
  width: 100%;
  border: 1px solid #fff;
  padding: 14px 24px;
  color: #fff;
}
.email-container {
  max-width: 500px;
}
.email-submit {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  background-color: #1e6091;
  margin-top: 24px;
  width: 100%;
  padding: 14px 24px;
  color: #fff;
}
.email-submit :hover {
  transform: scale(1.2);
}
