.display-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
}

.display-container > h1 {
  margin-top: 30px;
  font-size: 2.5rem;
  color: #1b5192;
}
.icon-text {
  color: #1b5192;
  font-size: 1rem;
}
.row-container {
  display: flex;
}
.tft-image {
  object-fit: contain;
  flex: 1;
}
.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
